$fontColor: rgb(255, 255, 255);

@mixin position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  @include position();
  .card {
    border: 2px solid rgb(255, 255, 255);
  }
}

.selected {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(88, 87, 87);
}

.card-header {
  color: $fontColor;
  font-size: 20px;
  height: 30px;
  padding: 15px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.card-body {
  height: 150px;
  @include position();

  .card-rubles {
    color: $fontColor;
    margin-top: -40px;
  }
  .card-sum {
    color: $fontColor;
    font-size: 50px;
  }
  .card-month {
    color: $fontColor;
    margin-bottom: -30px;
  }
}

// расцветка

.colorBlue {
  background-color: rgb(44 193 213);
}
.colorHeaderBlue {
  background-color: #219cab;
}

.colorGreen {
  background-color: rgb(34 174 143);
}
.colorHeaderGreen {
  background-color: rgb(31 137 114);
}

.colorRed {
  background-color: rgb(244 105 95);
}
.colorHeaderRed {
  background-color: rgb(196 85 78);
}
.colorBlack {
  background-color: rgb(40 47 55);
}
.colorHeaderBlack {
  background-color: #282f37;
}

.card-text {
  @include position();
  height: 50px;
  background-color: rgb(252, 252, 252);
}

.card-footer {
  background-color: rgb(247, 241, 234);
  height: 40px;
  padding: 10px;
  @include position();
}
